<!doctype html>
<html>
    <head>
      <title>{{ title|default('Reagentario') }}</title>
      <!-- for datatables css and js see:  https://datatables.net/download/ -->
      <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='css/datatables.css') }}" rel="stylesheet">
      <meta charset="utf-8" />
      {# {{ bootstrap.load_css() }} #}
    </head>
    <body>
        {% include 'header.html' %}

        <div class='container'>
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{category}} alert-dismissible mb-3" role="alert">
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}

          {# {% include 'messages.html' %} #}
          <h1>{{ title|default('Reagentario') }}</h1>
          <hr>
          {% block body %}{% endblock %}
        </div>
        <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/jquery-3.7.0.js') }}"></script>
        <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
        <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/jszip.js') }}"></script>
        <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/pdfmake.js') }}"></script>
        <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/vfs_fonts.js') }}"></script>
        <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/jquery.dataTables.js') }}"></script>
        <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/dataTables.bootstrap5.js') }}"></script>
        <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/dataTables.buttons.js') }}"></script>
        <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/buttons.bootstrap5.js') }}"></script>
        <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/buttons.colVis.js') }}"></script>
        <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/buttons.html5.js') }}"></script>
        <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/buttons.html5.styles.min.js') }}"></script>
        <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/buttons.html5.styles.templates.min.js') }}"></script>a
        <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/buttons.print.js') }}"></script>
        {% block scripts %}
          <script>
            $(document).ready(function () {
              $('#myTable').DataTable( {
                "lengthMenu": [ [200, -1, 10, 25, 50], [200, "All", 10, 25, 50] ],
                "order": [[ 0, 'asc' ], [ 1, 'asc' ], [ 2, 'asc']],
                "dom": 'frtipB',
                "buttons": [
                  'pageLength',
                  { extend: 'excelHtml5', exportOptions: { columns: ':visible' }},
                  { extend: 'pdfHtml5',
                    exportOptions: {
                      columns: ':visible'
                    }
                  },
                  'colvis']
              })
            });
          </script>


          <script>
              $(document).ready(function () {
                $('#locationTable').DataTable( {
                  "lengthMenu": [ [200, -1, 10, 25, 50], [200, "All", 10, 25, 50] ],
                  "order": [[ 0, 'asc' ], [ 1, 'asc' ], [ 2, 'asc']],
                  "dom": 'frtipB',
                  "buttons": [
                    'pageLength',
                    { extend: 'excelHtml5', exportOptions: { columns: ':visible' }},
                    { extend: 'pdfHtml5',
                      exportOptions: {
                        columns: ':visible'
                      }
                    },
                    'colvis']
                })
              });
            </script>

          <script>
              $(document).ready(function () {
                var currentDate = new Date()
                var day = currentDate.getDate()
                var month = currentDate.getMonth() + 1
                var year = currentDate.getFullYear()
                var d1 = month + "-" + year
                var d = day + "-" + month + "-" + year;

                $('#calibrationTable').DataTable( {
                  "lengthMenu": [ [200, -1, 10, 25, 50], [200, "All", 10, 25, 50] ],
                  "order": [[ 8, 'asc' ], [ 1, 'asc' ], [ 0, 'asc']],
                  "dom": 'frtipB',
                  "buttons": [
                    'pageLength',
                    { extend: 'excelHtml5',
                      filename: 'Calibrations',   // 'Calibrations_'+d,
                      title: 'Calibrations',      // 'Calibrations '+d1,
                      footer: false,
                      exportOptions: {
                        columns: ':visible',
                        modifier: {
                          page: 'current'
                        }
                      },
                      //insertCells: [
                      //  {
                      //    cells: 'sh',
                      //    content: '',
                      //    pushRow: true,
                      //  }
                      //],
                      pageStyle: {
                        sheetPr: {
                          pageSetUpPr: {
                            fitToPage: 1
                          }
                        },
                        pageSetup: {
                          orientation: "landscape",
                          fitToWidth: "1",
                          fitToHeight: "0",
                        },
                        repeatHeading: true,
                      },
                      excelStyles: [
                        {
                          template: "blue_medium",
                        },
                        {
                          cells: "s:",
                          style: {
                            alignment: {
                              vertical: "center",
                              horizontal: "center",
                              wrapText: true,
                            }
                          }
                        }
                      ]
                    },
                    { extend: 'pdfHtml5',
                      exportOptions: {
                        columns: ':visible'
                      }
                    },
                    'colvis']
                })
              });
            </script>


            <script>
              $(document).ready(function () {
                $('#logTable').DataTable( {
                  "lengthMenu": [ [200, -1, 10, 25, 50], [200, "All", 10, 25, 50] ],
                  "order": [[ 0, 'desc' ]],
                  "dom": 'frtipB',
                  "buttons": [
                    'pageLength',
                    { extend: 'excelHtml5', exportOptions: { columns: ':visible' }},
                    { extend: 'pdfHtml5',
                      exportOptions: {
                        columns: ':visible'
                      }
                    },
                    'colvis']
                })
              });
            </script>


           <script>
              $(document).ready(function () {
                $('#statsTable').DataTable( {
                  "lengthMenu": [ [200, -1, 10, 25, 50], [200, "All", 10, 25, 50] ],
                  "order": [[ 2, 'desc' ]],
                  "dom": 'frtipB',
                  "buttons": [
                    'pageLength',
                    { extend: 'excelHtml5', exportOptions: { columns: ':visible' }},
                    { extend: 'pdfHtml5',
                      exportOptions: {
                        columns: ':visible'
                      }
                    },
                    'colvis']
                })
              });
            </script>


        {% endblock %}
        <hr>
        {% include "footer.html" %}
    </body>
</html>
