{% extends 'base.html' %}

    <h1 style="width: 100%">{% block title %} Add a New Reagent {% endblock %}</h1>

{% block body %}
  <div class="top-pad">
    <form method="POST" action="{{ url_for('create') }}" role="form">
      <div class="form-group">{{ form.name.label }}: {{ form.name() }}</div>
      <div class="form-group">{{ form.location.label }}: {{ form.location() }}</div>
      <div class="form-group">{{ form.amount.label }}: {{ form.amount() }}</div>
      <div class="form-group">{{ form.amount2.label }}: {{ form.amount2() }}</div>
      <div class="form-group">{{ form.size.label }}: {{ form.size() }}</div>
      <div class="form-group">{{ form.amount_limit.label }}: {{ form.amount_limit() }}</div>
      <div class="form-group">{{ form.notes.label }}: {{ form.notes() }}</div>
      <div class="form-group">{{ form.to_be_ordered.label }}: {{ form.to_be_ordered() }}</div>




  <button type="submit" class="btn btndefault">Submit</button>
    </form>
  </div>
{% endblock %}
