{% extends "base.html" %}

<h1 style="width: 100%">{% block title %} {{ title|default('Calibrations List') }}< {% endblock %}</h1>

{% block body %}

{% if calibrations %}
<table id="calibrationTable" class="table table-sm table-hover table-striped table-bordered border-black border-opacity-75 border-1 text-center">
  <thead>
    <tr>
      <th class="text-center">Name</th>
      <th class="text-center">Apparatus</th>
      <th class="text-center">Description</th>
      <th class="text-center">Department</th>
      <th class="text-center">Initial Check Date</th>
      <th class="text-center">Frequency</th>
      <th class="text-center">Tolerance</th>
      <th class="text-center">Last Calibration Date</th>
      <th class="text-center">Next Calibration Date</th>
    </tr>
  </thead>
  <tbody>
    {% for calibration in calibrations %}
    {#
    <tr style="color: {{calibration.next_calibration_date|datedelta(calibration.tolerance)}}; --bs-table-color: {{calibration.next_calibration_date|datedelta(calibration.tolerance)}}; --bs-table-striped-color: {{calibration.next_calibration_date|datedelta(calibration.tolerance)}};">
    <tr bgcolor="{{calibration.next_calibration_date|datedelta(calibration.tolerance)}}">
    #}
    {% if current_user.has_role(calibration.department.short_name) %}
      <tr style="color: {{calibration.next_calibration_date|datedelta(calibration.tolerance)}}; --bs-table-bg: {{calibration.next_calibration_date|datedelta(calibration.tolerance)}};">
        <td class="align-middle"><a href="/show_calibration/{{calibration.id}}" class="btn btn-light btn-sm w-100 text-start">{{"{}".format(calibration.name)}}</a></td>
        <td class="align-middle">{{calibration.apparatus}}</td>
        <td class="align-middle">{{calibration.description}}</td>
        <td class="align-middle">{{calibration.department.short_name}}</td>
        <td class="align-middle">{{calibration.initial_check_date}}</td>
        <td class="align-middle">{{calibration.frequency}}</td>
        <td class="align-middle">{{calibration.tolerance}}</td>
        <td class="align-middle">{{calibration.last_calibration_date}}</td>
        <td class="align-middle">{{calibration.next_calibration_date}}</td>
      </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% if warning %}
<h2>{{ warning }}</h2>
{% endif %}

{% endblock %}
