{% extends "base.html" %}

{% block body %}
<br>
<h1>Locations</h1>
<hr>
{% if locations %}
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Alias</th>
            {% if current_user.is_admin and current_user.is_active %}
            <th>Edit</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for location in locations %}
        <tr>
            <td onclick="window.location='/list_location_content/{{location.id}}';">{{location.name}}</td>
            <td onclick="window.location='/list_location_content/{{location.id}}';">{{location.short_name}}</td>
            {% if current_user.is_admin and current_user.is_active %}
            <td><a href="/edit_location/{{location.id}}" class="btn btn-dark pull-right">Edit</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}
