{% extends "base.html" %}

{% block body %}

{% if reagents %}
<table id="myTable" class="table table-hover table-striped text-center">
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Lab Amount </th>
      <th>Warehouse Amount</th>
      <th>Size</th>
      <th>Amount Limit</th>
    </tr>
  </thead>
  <tbody>
    {% for reagent in reagents %}
    {% if (reagent.amount+reagent.amount2)<reagent.amount_limit %}
      <tr style="color:red;">
    {% else %}
      <tr style="color:black;">
    {% endif %}
        <td><a href="/show/{{reagent.id}}" class="btn btn-dark pull-right">{{"{}".format(reagent.name)}}</a></td>
        <td> {{reagent.location.name}}</td>
        <td> {{reagent.amount}}</td>
        <td> {{reagent.amount2}}</td>
        <td> {{reagent.size}}</td>
        <td> {{reagent.amount_limit}}</td>
      </tr>
      {% endfor %}
  </tbody>
</table>
{% endif %}
{% if warning %}
<h2>{{ warning }}</h2>
{% endif %}

<script>
  $(document).ready( function () {
      $('#myTable').DataTable();
    } );
</script>
{% endblock %}
