<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><b>Reagentario</b></a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                  <a class="nav-link text-warning" href="{{ url_for('index') }}">Index</a>
                </li>
                {% if current_user.is_active %}
                <li class="nav-item">
                    <a class="nav-link text-warning" href="/list">Reagents List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-warning" href="/list_locations">Locations list</a>
                </li>
                {% endif %}

                {% if current_user.has_role('admin') and current_user.is_active %}
                <li class="nav-item dropdown">
                    <a class="nav-link text-info dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Admin</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="/create">Add a new reagent</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="/list_locations">Edit Locations</a></li>
                      <li><a class="dropdown-item" href="/create_location">Add a new locations</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="/view_low_quantity">View low quantity</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="/view_orders/">View Orders</a></li>
                    </ul>
                </li>
                {% endif %}

                {% if current_user.has_role('superadmin') and current_user.is_active %}
                <li class="nav-item dropdown">
                    <a class="nav-link text-info dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">SuperAdmin</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="/users">Users management</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="/export">Export inventory as csv</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="/show_log/0">View Logs</a></li>
                      <li><hr class="dropdown-divider"></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav me-start mb-2 mb-md-0">
                {% if current_user.is_anonymous %}
                <li class="nav-item">
                  <a class="nav-link link.-warning" href="/login">Click here to login</a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link link-warning" href="{{ url_for('edit_profile') }}"> {{ current_user.email }} Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link link-warning" href="{{ url_for('security.logout') }}">Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
