<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><b>Reagentario</b></a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('index') }}">Index</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/create_location">Create Location</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/create">Create Reagent</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/list">List Reagents</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/list_locations">List Locations</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Supermanager</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="/view_low_quantity">View low quantity</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="/view_orders/">View Orders</a></li>
                    </ul>
                </li>
            </ul>
                {% if current_user.is_anonymous %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('login') }}">Click here to login</a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('logout') }}">{{ current_user.email }} Logout</a>
                </li>
                {% endif %}
        </div>
    </div>
</nav>
