<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><b>Reagentario</b></a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('index') }}">Index</a>
                </li>
                {% if current_user.is_active %}
                <li class="nav-item">
                    <a class="nav-link" href="/list">List Reagents</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/list_locations">List Locations</a>
                </li>
                {% endif %}

                {% if current_user.is_admin and current_user.is_active %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Admin</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="/create">Add a new reagent</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="/list_locations">Edit Locations</a></li>
                      <li><a class="dropdown-item" href="/create_location">Add a new locations</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="/view_low_quantity">View low quantity</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="/view_orders/">View Orders</a></li>
                    </ul>
                </li>
                {% endif %}

                {% if current_user.is_superadmin and current_user.is_active %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">SuperAdmin</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="/admin">Superadmin database managementn</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="/view_low_quantity">View low quantity</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="/view_orders/">View Orders</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="/show_log/0">View Logs</a></li>
                      <li><hr class="dropdown-divider"></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
                {% if current_user.is_anonymous %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('login') }}">Click here to login</a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('edit_profile') }}"> {{ current_user.email }} Profile</a>
                  {# <a class="nav-link" href="{{ url_for('user', alias=current_user.alias) }}"> {{ current_user.email }} Profile</a> #}
                  <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
                {% endif %}
        </div>
    </div>
</nav>
