{% extends "base.html" %}

{% block body %}

<center>
  <table class="table-3">
    <tr>
      <td id="top" class="col-md-7">
        <div>
          {% if reagent %}
          <table class="table table-hover table-striped table-bordered border-dark text-center align-middle">
            <tbody>
              <tr>
                <td class="text-nowrap">Name</td>
                <td><b>{{ reagent.name }}</b></td>
              </tr>
              <tr>
                <td>Location</td>
                <td><a href="/list_location_content/{{reagent.location.id}}" class="btn btn-primary pull-right w-100">{{"{}".format(reagent.location.name)}}</a></td>
              </tr>
              <tr>
                <td>Amount in lab</td>
                <td>{{ reagent.amount }}</td>
              </tr>
              <tr>
                <td>Amount in warehouse</td>
                <td>{{ reagent.amount2 }}</td>
              </tr>
              <tr>
                <td>Minimum stock</td>
                <td>{{ reagent.amount_limit }}</td>
              </tr>
              <tr>
              <tr>
                <td>Size</td>
                <td>{{ reagent.size }}</td>
              </tr>
              <tr>
                <td>CAS number</td>
                <td>{{ reagent.cas_number if reagent.cas_number is not none else ''  }}</td>
              </tr>
              <tr>
                <td>Product Code</td>
                <td>{{ reagent.product_code if reagent.product_code is not none else ''  }}</td>
              </tr>
              <tr>
                <td>Supplier</td>
                <td>{{ reagent.supplier if reagent.supplier is not none else ''  }}</td>
              </tr>
              <tr>
                <td>Internal ID</td>
                <td>{{ reagent.batch if reagent.batch is not none else '' }}</td>
              </tr>
              <tr>
                <td>Expiry Date</td>
                <td>{{ reagent.expiry_date if reagent.expiry_date is not none else '' }}</td>
              </tr>
              <tr>
                <td>Notes</td>
                <td>{{ reagent.notes }}</td>
              </tr>
              <tr>
                <td>Order</td>
                <td>{{ reagent.order }}</td>
              </tr>
            </tbody>
          {% endif %}
          </table>
        </div>
      </td>

      <td width=50px></td>

      <td>
        <table class="table-sm table-bordered border-dark text-center align-middle">
          {% if current_user.has_role('admin') and current_user.is_active and current_user.has_role(reagent.location.department.short_name) %}
          <tr height="64px">
            <td> <a href="/move/{{ reagent.id }}"> <img src="{{ url_for('static', filename='images/move.png') }}" style="width:64px"/></a></td>
            <td> <a href="/move/{{ reagent.id }}" class="btn btn-lg btn-warning w-100"> Move 1 item from warehouse to lab</a></td>
          </tr>
          <tr>
            <td> <a href="/plus/{{ reagent.id }}"> <img src="{{ url_for('static', filename='images/plus.png') }}" style="width:64px"/></a></td>
            <td> <a href="/plus/{{ reagent.id }}" class="btn btn-lg btn-warning w-100"> Add 1 item in laboratory</a></td>
          </tr>
          <tr>
            <td> <a href="/minus/{{ reagent.id }}"> <img src="{{ url_for('static', filename='images/minus.png') }}" style="width:64px"/></a></td>
            <td> <a href="/minus/{{ reagent.id }}" class="btn btn-lg btn-warning w-100"> Remove 1 item from laboratory</a></td>
          </tr>
          <tr>
            <td> <a href="/add/{{ reagent.id }}"> <img src="{{ url_for('static', filename='images/add.png') }}" style="width:64px"/></a></td>
            <td> <a href="/add/{{ reagent.id }}" class="btn btn-lg btn-warning w-100"> Add 1 item to warehouse</a></td>
          </tr>
          <tr>
            <td> <a href="/order/{{ reagent.id }}"> <img src="{{ url_for('static', filename='images/order.png') }}" style="width:64px"/></a></td>
            <td> <a href="/order/{{ reagent.id }}" class="btn btn-lg btn-warning w-100"> Order</a></td>
          </tr>
          <tr>
            <td> <a href="/edit/{{ reagent.id }}"> <img src="{{ url_for('static', filename='images/edit.png') }}" style="width:64px"/></a></td>
            <td> <a href="/edit/{{ reagent.id }}" class="btn btn-lg btn-success w-100"> Edit</a></td>
          </tr>
          <tr>
            <td> <a href="/show_log/{{ reagent.id }}"> <img src="{{ url_for('static', filename='images/log.png') }}" style="width:64px"/></a></td>
            <td> <a href="/show_log/{{ reagent.id }}" class="btn btn-lg btn-info w-100"> Log</a></td>
          </tr>
          {% if reagent.amount==0 and reagent.amount2==0 %}
          <tr>
            <td> <a href="/delete/{{ reagent.id }}"> <img src="{{ url_for('static', filename='images/delete.png') }}" style="width:64px"/></a></td>
            <td><button type="button" class="btn btn-lg btn-block btn-danger w-100" data-bs-toggle="modal" data-bs-target="#reagent{{ reagent.id }}">Delete</button>
              <div class="modal fade" id="reagent{{ reagent.id }}" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h2 class="h6 modal-title">Are you sure ?</h2>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p>Are you sure you want to delete reagent {{ reagent.name }} ? </p>
                    </div>
                    <div class="modal-footer">
                      <a class="btn btn-secondary" href="{{ url_for('delete', _id=reagent.id) }}">Yes, proceed</a>
                      <button type="button" class="btn btn-link text-gray ms-auto" data-bs-dismiss="modal">No, go back</button>
                    </div>
                  </div>
                </div>
              </div>
            </td>

          </tr>
          {% endif %}
          {% endif %}
        </table>
      </td>
    </tr>
  </table>
</center>

{% endblock %}
