{% extends "base.html" %}

{% block body %}
{#
<div class="top-pad">
  <form method="POST" action="{{ url_for('list') }}" role="form">
    <div class="form-group">{{ form.name.label }}: {{ form.name() }}</div>
    <div class="form-group">{{ form.location.label }}: {{ form.location() }}</div>
    <button type="submit" class="btn btndefault">Submit</button>
  </form>
</div>
#}

{% if logs %}
<table id="myTable" class="table table-hover table-striped text-center">
  <thead>
    <tr>
      <th>Date</th>
      <th>ID</th>
      <th>Name</th>
      <th>Location</th>
      <th>User</th>
      <th>Detail</th>
    </tr>
  </thead>
  <tbody>
    {% for log in logs %}
    <tr>
        <td> {{log.event_time}} </td>
        <td> {{log.product.id}} </td>
        {% if log.product.id %}
        <td><a href="/show/{{log.product.id}}" class="btn btn-dark pull-right">{{"{}".format(log.product.name|default("item deleted from database"))}}</a></td>
        {% else %}
        <td> {{log.product.name|default("item deleted from database")}}</a></td>
        {% endif %}
        <td> {{log.product.location}} </td>
        <td> {{log.user.alias}} </td>
        <td> {{log.event_detail}} </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% if warning %}
<h2>{{ warning }}</h2>
{% endif %}

<script>
  $(document).ready( function () {
      $('#myTable').DataTable();
    } );
</script>
{% endblock %}
