{% extends "base.html" %}

{% block body %}

<center>
  <table class="table-3">
    <tr>
      <td id="top" class="col-md-7">
        <div>
          {% if calibration %}
          <table class="table table-hover table-striped table-bordered border-dark text-center align-middle">
            <tbody>
              <tr>
                <td class="text-nowrap">Name</td>
                <td><b>{{ calibration.name }}</b></td>
              </tr>
              <tr>
                <td class="text-nowrap">Apparatus</td>
                <td><b>{{ calibration.apparatus }}</b></td>
              </tr>
              <tr>
                <td class="text-nowrap">Description</td>
                <td><b>{{ calibration.description }}</b></td>
              </tr>
              <tr>
                <td>Department</td>
                <td>{{ calibration.department.name }}</td>
              </tr>
              <tr>
                <td>Initial Check Date</td>
                <td>{{ calibration.initial_check_date }}</td>
              </tr>
              <tr>
                <td>Frequency</td>
                <td>{{ calibration.frequency }}</td>
              </tr>
              <tr>
                <td>Frequency units</td>
                <td>{{ calibration.frequency_units }}</td>
              </tr>
              <tr>
                <td>Tolerance</td>
                <td>{{ calibration.tolerance }}</td>
              </tr>
              <tr>
                <td>Tolerance units</td>
                <td>{{ calibration.tolerance_units }}</td>
              </tr>
              <tr>
                <td>Last Calibration Date</td>
                <td>{{ calibration.last_calibration_date }}</td>
              </tr>
              <tr>
                <td>Next Calibration Date</td>
                <td>{{ calibration.next_calibration_date }}</td>
              </tr>
              <tr>
                <td>Notes</td>
                <td>{{ calibration.notes }}</td>
              </tr>
            </tbody>
          {% endif %}
          </table>
        </div>
      </td>

      <td width=50px></td>

      <td>
        <table class="table-sm table-bordered border-dark text-center align-middle">
          {% if current_user.has_role('admin') and current_user.is_active and current_user.has_role(calibration.department.short_name) %}
          <tr height="64px">
            <td> <a href="/set_calibration_date/{{ calibration.id }}"> <img src="{{ url_for('static', filename='images/plus.png') }}" style="width:64px"/></a></td>
            <td> <a href="/set_calibration_date/{{ calibration.id }}" class="btn btn-lg btn-warning w-100">Set Last Calibration Date Today</a></td>
          </tr>
          <tr>
            <td> <a href="/edit_calibration/{{ calibration.id }}"> <img src="{{ url_for('static', filename='images/edit.png') }}" style="width:64px"/></a></td>
            <td> <a href="/edit_calibration/{{ calibration.id }}" class="btn btn-lg btn-success w-100"> Edit</a></td>
          </tr>
          <tr>
            <td> <a href="/show_calibration_log/{{ calibration.id }}"> <img src="{{ url_for('static', filename='images/log.png') }}" style="width:64px"/></a></td>
            <td> <a href="/show_calibration_log/{{ calibration.id }}" class="btn btn-lg btn-info w-100"> Log</a></td>
          </tr>
          <tr>
            <td> <a href="/delete_calibration/{{ calibration.id }}"> <img src="{{ url_for('static', filename='images/delete.png') }}" style="width:64px"/></a></td>
            <td><button type="button" class="btn btn-lg btn-block btn-danger w-100" data-bs-toggle="modal" data-bs-target="#cal{{ calibration.id }}">Delete</button>
              <div class="modal fade" id="cal{{ calibration.id }}" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h2 class="h6 modal-title">Are you sure ?</h2>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p>Are you sure you want to delete calibration {{ calibration.name }} {{ calibration.description }} ? </p>
                    </div>
                    <div class="modal-footer">
                      <a class="btn btn-secondary" href="{{ url_for('delete_calibration', _id=calibration.id) }}">Yes, proceed</a>
                      <button type="button" class="btn btn-link text-gray ms-auto" data-bs-dismiss="modal">No, go back</button>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          {% endif %}
        </table>
      </td>
    </tr>
  </table>
</center>

{% endblock %}
