{% extends "base.html" %}

{% block body %}

{% if logs %}
<table id="myTable" class="table table-hover table-striped text-center">
  <thead>
    <tr>
      <th class="text-nowrap">Date</th>
      <th>ID</th>
      <th>Name</th>
      <th>Location</th>
      <th>User</th>
      <th>Detail</th>
    </tr>
  </thead>
  <tbody>
    {% for log in logs %}
    <tr>
        <td class="text-nowrap"> {{log.event_time}} </td>
        <td> {{log.product.id}} </td>
        {% if log.product.id %}
        <td><a href="/show/{{log.product.id}}" class="btn btn-primary pull-right">{{"{}".format(log.product.name|default("item deleted from database"))}}</a></td>
        {% else %}
        <td class="text-nowrap"> {{log.product.name|default("deleted from database")}}</a></td>
        {% endif %}
        <td class="text-nowrap"> {{log.product.location}} </td>
        <td> {{log.user.username}} </td>
        <td> {{log.event_detail}} </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% if warning %}
<h2>{{ warning }}</h2>
{% endif %}

{% endblock %}
