{% extends "base.html" %}

{% block body %}
<br>

<div class="text-center">
<a href="/create_user" class="btn btn-success btn-lg pull-right">CREATE NEW USER</a></td>
</div>
<hr>

{% if users %}
<table id="myTable" class="table table-hover table-striped text-center">
  <thead>
    <tr>
      <th>Email</th>
      <th>Username</th>
      <th>Active</th>
      <th>Roles</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
      <tr>
        <td><a href="/edit_user/{{ user.id }}" class="btn btn-primary pull-right">{{"{}".format(user.email)}}</a></td>
        <td> {{ user.username }}</td>
        <td> {{ user.is_active }}</td>
        <td>
        {% for role in user.roles %}
        {{ role.name }}
        {% endfor %}
        </td>
        <td><a href="/delete_user/{{ user.id }}" class="btn btn-danger pull-right"> DELETE </a></td>
      </tr>
      {% endfor %}
  </tbody>
</table>
{% endif %}

{% if warning %}
<h2>{{ warning }}</h2>
{% endif %}

{% endblock %}
