{% extends "base.html" %}

{% block body %}
<br>

{% if users %}
<table id="myTable" class="table table-hover table-striped text-center">
  <thead>
    <tr>
      <th>Email</th>
      <th>Username</th>
      <th>Active</th>
      <th>Roles</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
      <tr>
        <td><a href="/edit_user/{{user.username}}" class="btn btn-dark pull-right">{{"{}".format(user.email)}}</a></td>
        <td> {{ user.username }}</td>
        <td> {{ user.is_active }}</td>
        <td>
        {% for role in user.roles %}
        {{ role.name }}
        {% endfor %}
        </td>
      </tr>
      {% endfor %}
  </tbody>
</table>
{% endif %}
{% if warning %}
<h2>{{ warning }}</h2>
{% endif %}

{% endblock %}
